.drinkinfowrapper{
    display: flex;
    margin-top: 1vh;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 2vh;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    width: auto;
    background: #f5f0eb;
}

.drinkinfowrapper#dark{
    background: #1F2937 !important;
}

.return{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    align-items: center;
    align-content: center;
    justify-content: left;
    justify-items: left;
    margin-top: 11.5vh;
    height: 5vh;
    width: 80%;
}

.return_button{
    color:#F59E0B;
    height: 3vh;
}

.drinkname{
    font-size: 25px !important;
    font-family: 'DM Serif Text';
}

.drinkdesc{
    font-size: 16px !important;
    font-family: 'DM Serif Text';
    width: 80%;
    height: auto;
    min-height: 2vh;
    text-align: left;
    color: rgb(97, 97, 97);
}

.drinkprice{
    font-size: 20px !important;
    font-family: 'DM Serif Text';
}

.drink_name_price{
    display: flex;
    width: 80%;
    min-height: 2vh;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    justify-items: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #F59E0B;
}

.space{
    width: 100%;
    height: 6vh;
}

#dark .drinkname{
    color: white !important;
}

#dark .drinkprice{
    color: white !important;
}

.addtocart{
    width: 20vh;
    height: 6vh;
    background: #F59E0B;
    color: white;
    border-radius: 20px;
    box-shadow: none;
    border: none;
    font-family: 'Nunito';
    cursor: pointer;
    font-size: 15px;
}

.addtocart:hover {
    background: #cb850d !important;
}

#dark .addtocart {
    background: #F59E0B;
    color: white;
}

#dark .addtocart:hover{
    background:#e29b1f;
}

.drinkimage{
    margin-top: 1vh;
    height: 39vh;
    width: 80%;
    border-radius: 1vh;
    background: white;
    border: 3px solid #F59E0B;
    object-fit: cover;
}

.drink-info-cartmodal-wrapper {
  position: relative;
  bottom: 8vh;
  right: 47vw;
}
