.homewrapper{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    height: auto;
    min-height: 110vh;
    width: 100vw;
    max-width: 100vw;
    overflow-y: auto;
    background: #f5f0eb;
    align-items: center;
    align-content: center;
}

.buttonslist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 25vh;
    column-gap: 2vw;
    row-gap: 5vh;
    height: auto;
    min-height: 50vh;
    justify-content: center;
    justify-items: center;
    width: 95vw;

}

.categorybutton{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    align-content: center;
    width: 42vw;
    height: 25vh;
    background: #F59E0B;
    border: none;
    border-radius: 2vh;
    font-size: 21px;
    color: white;
    font-family: 'Roboto Slab';
    font-weight: bolder;
    box-shadow: inset;
    box-shadow: #1F2937;
}


.drinkimg{
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 2vh;
}

.homewrapper#dark{
    background: #1F2937;
}

.greeting{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 23px;
    font-family: 'Nunito';
    font-weight: bold;
    margin-top: 12vh;
    width: 90vw;
}



#dark .greeting{
    color: white;
}

.carousel-wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 36vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 2vh;
    background:#ffffff;
    margin-top: 3vh;
    border-top: 3px solid #F59E0B;
    border-bottom: 3px solid #F59E0B;
}

.slide-container{
    display: flex;
    align-items: center;
    align-content: center;
    width: 88%;
    margin-top: -1vh;
    height: auto;
    min-height: 28vh;
}

.slide-container .slick-slide{
    display: flex !important;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    align-content: center !important;
    height: 27vh !important;
}

.category-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88%;
    height: 4vh;
    align-items: center;
    align-content: center;
}

.category-button{
    height: 3vh;
    width: 3vh;
    cursor: pointer !important;
    color:#F59E0B;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border: none;
    background: none;
}

.category-name{
    font-family: 'Nunito';
    font-size: 20px;
}

.carousel-image{
    object-fit: cover;
    height: 22vh !important;
    width: 19vh !important;
    border-radius: 1vh;
}

.drink-name{
    font-family: 'Nunito';
    font-size: 14px;
    width: 19vh;
    text-align: center;
}

.carousel-drink{
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 0.6vh !important;
    width: 19vh;
    height: auto;
    min-height: 28vh;
}