.homewrapper{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    height: auto;
    min-height: 110vh;
    width: 100vw;
    max-width: 100vw;
    overflow-y: auto;
    background: #f5f0eb;
    align-items: center;
    align-content: center;
    margin-top: 1vh;
}

.drinkimg{
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 2vh;
}

.homewrapper#dark{
    background: #1F2937;
}

.greeting{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 23px;
    font-family: 'Nunito';
    font-weight: bold;
    margin-top: 12vh;
    width: 90vw;
}



#dark .greeting{
    color: white;
}

.carousel-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    height: auto;
    min-height: 38vh;
    width: 100vw;
    align-items: center;
    gap: 2.5vh;
    background:#f5f0eb;
    border-top: 3px solid #F59E0B;
    border-bottom: 3px solid #F59E0B;
}

.slide-container{
    display: flex;
    align-items: center;
    align-content: center;
    width: 88%;
    margin-top: -1vh;
    height: auto;
    min-height: 29vh;
    pointer-events: auto !important;
    touch-action: pan-y !important;
}

.slide-container .slick-slide{
    display: flex !important;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    align-content: center !important;
    height: auto !important;
}

.category-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88%;
    height: 4vh;
    align-items: center;
    align-content: center;
}

.category-button{
    height: 4vh;
    width: 4vh;
    cursor: pointer !important;
    color:#F59E0B;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border: none;
    background: none;
}

.category-name{
    font-family: 'Nunito';
    font-size: 25px;
}

.carousel-image{
    object-fit: cover;
    height: 22vh !important;
    width: 19vh !important;
}

.drink-name{
    font-family: 'Nunito';
    font-size: 16px;
    width: 19vh;
    text-align: center;
}

.carousel-drink{
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    align-content: center;
    gap: 0.6vh !important;
    width: 19vh;
    height: auto;
    min-height: 29vh;
    pointer-events: auto !important;
}

.carousel-list{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    align-content: center;
}