.cartmodalwrapper {
  display: flex;
  flex-direction: row;
  gap: 1vh;
  position: fixed;
  top: 0vh;
  left: 0;
  right: 0;
  width: 88vw;
  height: 4vh;
  background: #2563EB;
  align-items: center;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 1vh;
  margin-top: 11vh;
  align-content: center;
  align-items: center;
  padding-left: 2.4vh;
  margin-left: auto;
  margin-right: auto;
  background-clip: padding-box;
}

.addednotif {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Slab';
  width: 70vw;
  height: 4vh;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .addednotif {
    font-size: 16px;
  }
}
