.cartmodalwrapper{
    display: grid;
    grid-template-columns: 3vh 70vw;
    column-gap: 0.1vh;
    position: fixed;
    width: 80vw;
    height: 4vh;
    background: #2563EB;
    align-items: center;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 4vw;
    margin-top: 3vh;
    align-content: center;
    align-items: center;
    padding-left: 2.4vh;
    opacity: 88%;
}

.addednotif{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Slab';
    width: 70vw;
    height: 4vh;
    font-size: 2vh;
}