.notification-motion-div {
  position: fixed;
  color: white;
  background: #2563EB;
  border: solid 2px #2563EB;
  border-radius: 30vh;
  top: 100px;
  left: 4vw;
  width: 92vw;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.close-notif-btn {
  color: white;
  position: absolute;
  right: 1vw;
  top: 0.5vh;
  background: none;
  border: none;
  cursor: pointer;
}

.close-notif-btn:hover {
  color: #F59E0B;
}
