.notification-motion-div {
  position: fixed;
  color: white;
  background: #2563EB;
  border: solid 2px white;
  border-radius: 1vh;
  padding-left: 2.4vh;
  top: 100px;
  left: 3vw;
  width: 88vw;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 900;
  font-family: 'Nunito' !important;
}

.notification-text {
  width: 92%;
  font-family: 'Nunito' !important;
}

.close-notif-btn {
  color: white;
  position: absolute;
  right: 1vw;
  top: 0.5vh;
  background: none;
  border: none;
  cursor: pointer;
}

.close-notif-btn:hover {
  color: rgb(175, 175, 175);
}

@media (max-width: 768px) {
  .notification-text {
    font-size: 16px;
    font-family: 'Nunito';
  }
}
