.searchwrap{
    display: flex;
    align-items: center;
    margin-top: 3vh;
    height: 4vh;
    width: 91vw;
    background: none;
    margin-left: 0vh;
}

.search{
    border: 2px solid #F59E0B;
    border-radius: 30vh;
    padding-left: 4vw;
    width: 50vw;
    height:3.4vh;
    cursor: pointer;
    font-family: 'Lalita One';

}

.search:focus{
    outline: none;
}

.selectcategory{
    margin-left: 13vw;
    text-align: center;
    width: 28vw;
    height: 2.8vh;
    font-size: 13px;
    background: #F59E0B;
    color: white;
    border-radius: 2vw;
    border: none;
    font-family: 'Lilita One';
}
