.searchwrap {
    display: flex;
    align-items: center;
    margin-top: 3vh;
    height: 4vh;
    width: 91vw;
    background: none;
    margin-left: 0vh;
}

.search {
    border: 2px solid #F59E0B;
    border-radius: 30vh;
    padding-left: 4vw;
    width: 50vw;
    height: 3.4vh;
    cursor: pointer;
    font-family: 'Lalita One';
    font-size: 12px;
}

.search:focus {
    outline: none;
}

.selectcategory {
    margin-left: 13vw;
    text-align: center;
    width: 28vw;
    height: 2.8vh;
    font-size: 13px;
    background: #F59E0B;
    color: white;
    border-radius: 2vw;
    border: none;
    font-family: 'Nunito';
    font-weight: 800;
}

.selectcategory:focus {
    outline: none;
}

/*  Responsive for Tablets  */
@media (min-width: 768px) and (max-width: 1024px) {
    .searchwrap {
        margin-top: 4vh;
        height: 5vh;
    }

    .search {
        width: 45vw;
        height: 4.2vh;
        font-size: 15px;
        padding-left: 3vw;
    }

    .selectcategory {
        width: 25vw;
        height: 3.8vh;
        font-size: 15px;
        margin-left: 10vw;
    }
}

/*  Responsive for Laptops and Desktops */
@media (min-width: 1025px) {
    .searchwrap {
        margin-top: 6vh;
        height: 6vh;
    }

    .search {
        width: 40vw;
        height: 4.5vh;
        font-size: 17px;
        padding-left: 2vw;
    }

    .selectcategory {
        width: 22vw;
        height: 4.2vh;
        font-size: 17px;
        margin-left: 8vw;
    }
}
