.signupwrapper{
    display: grid;
    grid-template-rows: 5vw auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 85vw;
    height: 50vh;
    background: white !important;
    z-index: 999;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 4vw;
    border: none;
}

.closesignup{
    display: flex;
    background: none;
    border: none;
    color: black;
    width: 7vw;
    height: 7vw;
    font-size: 7vw;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 72vw;
    margin-top: 7vw;
    cursor: pointer;
    z-index: 999;
}


.signupform{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 76vw;
    height: 48vh;
    text-align: center;
    align-items: center;
    justify-items: start;
}

.signupform h2{
    margin-top: 2vh;
    font-size: 30px !important;
    font-family: 'Nunito';
    color: black;
}

.signupform label{
    font-family: 'Nunito';
    color: black;
    font-weight: 500;
}



.signupsubmit{
    margin-top: 7vw;
    width: 70vw;
    height: 4vh;
    background-color: #F59E0B;
    border: none;
    color: white;
    font-family: 'Lilita One';
    font-size: 1.9vh;
    font-weight: lighter;
    border-radius: 1vh;
}

.inputrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vw;
    width: 70vw;
    height: 6vh;
    gap: 7vw;
    align-items: center;
    align-content: center;
}

.usernamebox{
    padding-left: 3vw;
    width: 50vw;
    height: 3vh;
    border-radius: 2vw;
    border: 1px solid grey;
    box-shadow: none;
    font-family: 'Nunito';
}

.emailbox{
    padding-left: 3vw;
    width: 50vw;
    height: 3vh;
    border-radius: 2vw;
    border: 1px solid grey;
    box-shadow: none;
    font-family: 'Nunito';
}

.passwordbox{
    padding-left: 3vw;
    width: 50vw;
    height: 3vh;
    border-radius: 2vw;
    border: 1px solid grey;
    box-shadow: none;
    font-family: 'Nunito';
}

