@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lilita+One&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Gabriela';
}

input:focus{
  outline: none;
}

.global-footer{
    display: flex;
    margin-top: auto;
    font-size: 13px;
    font-family: 'Nunito';
    color: white;
    padding-left: 5vh;
    align-items: center;
    align-content: center;
    height: 7vh;
    width: 100vw;
    background: #2563EB;
}